{
    # Debug
    {$CADDY_DEBUG}
    auto_https off
}

{$SERVER_NAME}

log

route {
    root * /srv/app/public
    # mercure {
    #     transport_url bolt:///data/mercure.db
    #     publisher_jwt None
    #     subscriber_jwt None
    # }
    vulcain

    header ?Link `</docs.jsonld>; rel="http://www.w3.org/ns/hydra/core#apiDocumentation", </.well-known/mercure>; rel="mercure"`
    header ?Permissions-Policy "browsing-topics=()"

    php_fastcgi unix//var/run/php/php-fpm.sock
    encode zstd gzip
    file_server
}
